{% extends 'base.html'%}
{%block content%}
<div class="container">
    {% if messages%}
    {%for message in messages%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}
    {%endif%}
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Todo</th>
                <th scope="col">complete</th>
                <th scope="col">created</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {%for item in lists%}
            {%if item.completed%}
            <tr class="table-success">
                <th scope="row">{{item.id}}</th>
                <td> <a href="{%url 'edit' item.id%}">{{item.item}}</a> </td>
                <td> <a href="{%url 'complete' item.id%}">Done</a> </td>
                <td>{{item.created}}</td>
                <td><a href="{%url 'delete' item.id%}">Delete</a></td>
            </tr>
            {%else%}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td> <a href="{%url 'edit' item.id%}">{{item.item}}</a> </td>
                <td> <a href="{%url 'complete' item.id%}">UnDone</a> </td>
                <td>{{item.created}}</td>
                <td><a href="{%url 'delete' item.id%}">Delete</a></td>
            </tr>
            {%endif%}
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}
